<%- include('partials/head') %>
   
  <div class="row">
      <div class="column">
        <div class="card">
          <h4>Salario más alto</h4>
          <p>Nombre: <%= objeto.array_nombre %> </p>
          <p>Salario: <%= objeto.array_salario %> $</p>
          <p>Profesión: <%= objeto.array_puesto %> </p>
        </div>
        <div class="card">
          <h4>Muestra</h4>
          <p><%= objeto.array_muestra %></p>
        </div>
    </div>
</div>
    
<%- include('partials/footer') %>